.form-container {
  background: #fff;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Cambiado de 500px a 600px */
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h2 {
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
  font-weight: 600;
}

.form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-container form div {
  margin-bottom: 20px;
  width: 100%;
}

.form-container form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #555;
}

.form-container form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-container form input:focus {
  border-color: #007bff;
  outline: none;
}

.form-container button {
  width: 100%;
  padding: 15px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: var(--primary-color-hover);
}